.wrapper
{
    display: flex;
    align-items: center;
}
.profil-name
{
    margin-left: 25px;
}
.profile-details p
{
    margin-left: 50px;
}
.img-holder img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.post-image img
{
    width: 60%;
}
.profile-details
{
    margin-left: 40px;
    margin-top: -25px;
}
.post-icon
{
    list-style: none;
}
.post-icon li
{
    display: inline-block;
    padding: 20px;
}
